html,body{
    margin: 0;
    padding:0;
    background-color: rgb(31, 29, 29);
}
h1{
    text-align: center;
 color:wheat;
}
:root{
    --black:#000000;
    --red:red;
    --yellow:#FFCE00;
    --white:white;
    --height:180px;
    --chocolate:rgb(116, 2, 2);
    --blue:#0269A6;
    --lightYellow:#b3910c;
    --orange:rgb(197, 76, 46);
    --green:rgb(9, 151, 9);
    --darkGreen:rgb(4, 53, 4);
    /* --width: */
}
.flag-Germany{
    height: var(--height);
    width: calc(var(--height)*5/3);
    background-color: aquamarine;
  margin-left: 30px;
    flex-direction: column;
    /* display: grid; */
    display: flex;
}
.strips{
    flex-grow: 1;
}
.black{
    background: var(--black);
}
.red{
    background: var(--red);
}
.yellow{
    background: var(--yellow);
}
/* 2 Flag */
.flag-SwitzerLand{
   background: var(--red);
   height: var(--height);
   width: 21%;
   margin-left:40%;
   margin-top:-10px;
   display: flex;
   justify-content: center;
   align-items: center;
position: relative;
}
.cross1{
    height: calc(var(--height)*3/16);
    width:calc( 230px *5/8);
    background: var(--white);
}
.cross2{
    height: calc(var(--height)*5/8);
    width:calc( 230px *3/16);
    background: var(--white);
    position: absolute;
}

/* 3 Flag */
.flag-Japan{
    height: 170px;
    width: calc(var(--height)*5/3);
    background:var(--white);
    margin-left: 78%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.circle{
    height:100px;
    width:100px;
    background: var(--chocolate);
    border-radius: 50%;
}

/* 4 Flag */
.flag-Sweden{
  height: 180px;
  width:calc(200px * 8/5);
  background: var(--blue);
  margin-left: 40%;
  display: flex;
  position: relative;
}
.vr1{
    height: 40px;
    width:352px;
    background: var(--lightYellow);
    /* position: absolute; */
    align-self: center;
}

.vr2{
    height: 180px;
    width:40px;
    background: var(--lightYellow);
    position: absolute;
    margin-left:90px;
}

/* 5 Flag */
.flag-Niger{
    height: var(--height);
    width:calc(200px* 8/5);
    background: var(--white);
    margin-left: 30px;
}
.orange{
    height: 35%;
    width:100%;
    background: var(--orange);
}
.white{
   height: 35%;
   width: 100%;
   background: var(--white);
   align-self: center;
   display: flex;
   align-items: center;
   justify-content: center;
}
.cir{
    height:60px;
    width:60px;
    background: var(--orange);
     border-radius: 50%;
}
.green{
    height: 35%;
    width:100%;
    background: var(--green);
    align-self: baseline;
}

/* 6 Flag */
.flag-DenMark{
    height: 180px;
  width:calc(200px * 8/5);
  background: var(--red);
  margin-left: 40%;
  display: flex;
  position: relative;
}
.vr3{
    height: 40px;
    width:352px;
    background: var(--white);
    /* position: absolute; */
    align-self: center;
}
.vr4{
    height: 180px;
    width:40px;
    background: var(--white);
    position: absolute;
    margin-left:90px;
}

/* 7 Flag */
.flag-Latvia{
    height: 170px;
    width: calc(var(--height)*5/3);
    background:var(--chocolate);
    margin-left: 78%;
    display: flex;
    justify-content: center;
    align-items: center;   
}
.vr5{
    height: 25%;
    width: 100%;
    background: var(--white);
}

/* 8 Flag */
.flag-Poland{
    height: 180px;
  width:calc(200px * 8/5);
  background: var(--red);
  margin-left: 40%;
  display: flex;
  position: relative;
}
.vr6{
    height: 50%;
    width: 100%;
    background: var(--white);
}
/* 9 Flag */
.flag-Bangladesh{
  height: var(--height);
    width: calc(var(--height)*5/3);
   background: var(--darkGreen);
  margin-left: 30px;
    flex-direction: column;
    /* display: grid; */
    display: flex;
    justify-items: center;
    align-items: center;
 
}
.vr8{
    height: 80px;
    width:80px;
   background: var(--red);
   margin-top:18%;
   border-radius: 50%;
}

/* 10 Flag */
.flag-China{
    height: 180px;
    width:calc(200px * 8/5); 
    background-image:url("http://www.w3.org/2000/svg");
    margin-left: 40%;
    display: flex;
    position: relative;
    background: var(--red);
} 