body,html{
    margin: 0;
    padding: 0;
    background: #000;
    color:#c9d1d9;
    text-align: center;    
}

:root{
    --font-main:'Noto sans',sans-serif;
    --main-bg:#000;
    --profile-bg:#0d1117;
    --profile-color:c9d1d9;
    --profile-img-border:#2e343b;
   --profile-color:#8b949e;
   --btn-bg:#21262d;
   --btn-color:#c9d1d9;
   --btn-border:#373b43;
   --btn-hover:#8c949e;
}
.prof-container{
    width:80%;
    min-width: 240px;
    max-width: 400px;
  margin: 1rem auto;
 background: var(--profile-bg);
  height: 80%;
  padding-top: 30px;
  margin-top: 200px;
}

.prof-content{
    /* width:100%; */
 padding: 1em 2em;
}
img{
 width: 250px;
    border-radius: 50%;
}
.pro-img { 
    /* border-radius: 50%; */
    align-items: center;
    border: 2px solid  var(--profile-bg);
    color: var(--profile-color);
    /* background:; */
}
h2{
    margin: 0;
}
h3{
    font-weight:lighter;
}
.pro-details button{
   width: 50%;
   background: var(--btn-bg);
   border: var(--btn-border);
   height: 10%;
   border-radius: 6px;
   padding: 0.25rem 0;
   font-family: var(--font-main);
   font-family: inherit;
}
.pro-details button:hover{
    background: var(--btn-border);
    /* background-color: var(--btn-bg); */
    border-radius: 10px;

}