 body,html{
    margin: 0;
    padding: 0;
    /* background-color: rgb(65, 35, 94); */
} 
/* border-focuse:#3a71ca; */
/* .container{

    display: flex;
    justify-content: center;
    margin-top: 30px ;
    padding: 5px;
    min-width: 300px;
}
#input{
   height: 30px;
width: 33.3%;   
transition: 5ms;
   border-color: rgb(8, 8, 230);
   border-radius: 2px;
   transition: all .3s;
}

#input:focus{
    width: 100%;
    /* border-color: #3a71ca; */
/* }

#input::placeholder{
    font-weight: 200;
}
#input:focus::placeholder{
    color: transparent;
}  */



.responsive{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.box{
    border:1px solid white;
}