/* *{
    margin: 0;
    padding:0;
   box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgb(68, 66, 66);
}
.Container{
    width: 100%;
    max-width: 400px;
    height: 45%;;
     box-shadow: 10px 10px 10px white;
     color: white;
     text-align: center;
    list-style: none;
    /* border:1px solid white; */
    background-color: rgb(39, 35, 35);
    justify-content: center;
    padding: 20px;
    border-radius: 5px;
}
.Container::before {
    content: "Favourite Movie Franchise";
    display: block;
    background-color: black;
    color: white;
    padding: 10px;
    margin-bottom: 20px;
    font-size: 1.5em;
}
#Items-list{
    list-style: none;
    column-gap: 100px;
    display: block;
    background-color: whitesmoke;
    color: black;
    font-size: medium;
    /* height: 50%; */
    /* margin: 20px; */
}
.Item{
    /* margin: 20px; */
    margin: 2px;
 font-size: 1.2em;
 padding: 8px; 
 border-bottom: 1px solid #ccc;}

 @media screen  and (max-width:600px){
    .Container{
        padding: 10px;
        width: 90%;
        /* overflow: scroll; */
    }
    .Container::before {
        font-size: 1em;
        padding:8px;
        margin-bottom:10px;
    }
    #Item{
        padding: 6px;
        font-size: 1em;
        /* margin: 5px 0; */
        margin-bottom: 5px;
    }

 } */
