*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    /* height: 100%;
    width: 100%; */
    background: var(--bg-main);
}

/* Creating Root Element */
:root{
    --font:'karla',sans-serif;
    --font-color:#fff;
    --grade1:#feda75;
    --grade2:#fe7e1e;
    --grade3:#d62976;
    --grade4:#962fbf;
    --grade5:#4f5bd5;
    --viewed:gray;
    --bg-main:#000;
    --bg-live:rgb(233, 24, 24);
    /* --linear-gradient:to top right, var(--grade1), var(--grade2), var(--grade3), var(--grade4), var(--grade5); */
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    color: white;
    font-family: var(--font);
    gap: 20px;
   
}
ul li{
 list-style-type: none;   
 padding: 0;
}
.container p{
    margin-top:20px;
    text-align: center;
}

.stories-menu img{
    position: relative;
     border-radius: 50%;    
     border:5px solid var(--bg-main);
   padding: 5px;
}
#center{
    border:5px solid var(--viewed);
    background: var(--bg-main);
    padding: 5px;
}

/* For Live */
.live::after{
    content: "LIVE";
    position: absolute;
    background: var(--bg-live);
    width: 30px;
    padding: 5px 15px;
    border-radius: 5px;
    top:66%;
    left:47.5%;
    
}

h1{
    color: white;
    text-align: center;
    text-transform: capitalize;
    padding: 10px;
    margin:20px;
}